@font-face {
    font-family: 'icofont';
    src: url(".//icofont.ttf?f7e489261e7fa1a38024073442e4dc90") format("truetype"),
url(".//icofont.woff?f7e489261e7fa1a38024073442e4dc90") format("woff"),
url(".//icofont.woff2?f7e489261e7fa1a38024073442e4dc90") format("woff2");
}

i[class^='icofont-']:before, i[class*=' icofont-']:before {
    font-family: icofont !important;
    font-style: normal;
    font-size: 1.5rem;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icofont-trash:before {
    content: '\f101';
}
.icofont-times-small:before {
    content: '\f102';
}
.icofont-favorite:before {
    content: '\f103';
}
.icofont-favorite-fill:before {
    content: '\f104';
}
.icofont-eye:before {
    content: '\f105';
}
.icofont-arrow-down:before {
    content: '\f106';
}
